html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    background-color: rgb(255, 175, 122);
}

body {
    position: relative; 
}

/* Brayden Bridgeman Logo */
img[src="assets/BraydenWatermark.png"] {
    position: relative;
    height: 55px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: inline-block;
    transition-duration: 0.5s;
}

img:hover[src="assets/BraydenWatermark.png"] {
    color: white;
    transform: scale(1.15);
}

#hero-image-button {
    border: 0px;
    border-radius: 50px;
    background-color: transparent;
}

/* navbar */
.navbar {
    border-radius: 50px;
}

.navbar-nav .dropdown-menu {
    position: static;
}

.navbar-light .navbar-toggler {
    color: rgb(255, 175, 122);
    border-color: rgb(255, 175, 122, 0.9);
    border-radius: 25px;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.5);
    border: 15px;
}

.dropdown-menu.show {
    display: block;
    border-radius: 25px;
}

.dropdown-item {
    display: flex;
    border-radius: 50px;
    font-size: 16px;
}

ul li {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

/* Hero Image header container */
.container.mt-3 {
    padding-top: 75px;
    padding-bottom: 50px;
}

/* jumbo-tron container
border possibly delete later? */
.mt-4.p-5.bg-primary.text-white.rounded {
    background-color:rgb(255, 175, 122, .5);
    border: 5px solid black;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    text-shadow: 6px 6px 4px black;
    background-image: url("assets/Seattle\ Finals\ \(77\ of\ 79\).jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-position:bottom
}

.card {
    background-color: rgb(255, 175, 122);
    border: 0px;
    margin-left: auto;
    margin-right: auto;
}

.card-img-top {
    padding-bottom: 50px;
    padding-top: 50px;
}

img[src="assets/IMG_1099.JPG"] {
    max-width: 700px;
    border-radius: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

/* About Me section */
#section1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
    border-style: groove;
    border-width: 4px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.85);
    border-top: 4px solid rgba(0, 0, 0, 0.85);
    border-right: 0px solid rgb(255, 175, 122);
    border-left: 0px solid rgb(255, 175, 122);
    background-color: rgb(255, 175, 122);
}

.card-body {
    text-align: justify;
    display: flex;
    border-style: solid;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

p.card-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50em;
    font-family: sans-serif;
}

.card-body img{
    display: inline-block;
    width: 100px;
    height: 100px;
}