html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    background-color:rgb(127, 127, 127);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    position: relative; 
}

/* Brayden Bridgeman Logo */
img[src="assets/BraydenWatermark.png"] {
    position: relative;
    height: 55px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: inline-block;
    transition-duration: .5s;
}

img:hover[src="assets/BraydenWatermark.png"] {
    color: white;
    transform: scale(1.40);
}

#hero-image-button {
    border: 0px;
    background-color: transparent;
}

/* navbar */
.navbar {
    border-radius: 50px;
}

.navbar-nav .dropdown-menu {
    position: static;
}

.navbar-light .navbar-toggler {
    color: rgb(255, 175, 122);
    border-color: rgb(255, 175, 122, 0.9);
    border-radius: 25px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.5);
    border: 15px;
}

.dropdown-menu.show {
    display: block;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.95)
}

.dropdown-item {
    display: flex;
    border-radius: 50px;
    font-size: 16px;
}

ul li {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

/* Hero Image header container */
.container.mt-3 {
    padding-top: 75px;
    padding-bottom: 50px;
    max-width: 1350px;
}

/* jumbo-tron container
border possibly delete later? */
.mt-4.p-5.bg-primary.text-white.rounded {
    background-color:white;
    border: 5px solid black;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    text-shadow: 6px 6px 4px black;
    background-image: url("assets/Chicago_IL\ \(33\ of\ 53\).jpg");
    background-attachment: fixed;
    background-size: 125%;
    background-position: bottom;
}

/* About Me section */
.card {
    background-image: url("assets/Chicago_IL\ \(30\ of\ 53\).jpg");
    background-size: 100%;
    background-position: bottom;
    background-attachment: fixed;
}

#section1 {
    padding-top: 50px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    color: white;
}

p.card-text {
    font-family: sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

img[src="assets/Canvas Profile Picture.PNG"] {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    max-width: 316.2px;
    height: 393.276px;
    border-radius: 10px;
}

/* Projects Section */
#section2 {
    padding-top: 50px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    color: white;
}

@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    display: block;
  }
}

.card2 {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    background-color: rgb(127, 127, 127);
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
}

.button {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    transition-duration: .15s;
}

.button:hover {
    background-color: rgb(255, 255, 255, 0.15);
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3em;
    padding-top: 10px;
}

.container p {
    font-family: sans-serif;
    color: white;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Contact Section */

#section3 {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    color: white;
    text-shadow: 6px 6px 4px black;
}

.containerForm {
    width: 100%;
    padding-right: var(--bs-gutter-x,2rem);
    padding-left: var(--bs-gutter-x,2rem);
    margin-right: auto;
    margin-left: auto;
    background-image: url("assets/Chicago_IL\ \(32\ of\ 53\).jpg");
    background-size: 100%;
    background-position: bottom;
    background-attachment: fixed;
}

.form-label {
    text-shadow: 6px 6px 4px black;
    font-family: 'Ubuntu', sans-serif;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-size: 1em;
}

.btn-primary {
    margin-right: auto;
    margin-left: auto;
    color: white;
    text-shadow: 6px 6px 4px black;
    font-family: 'Ubuntu', sans-serif;
}